* {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 auto;
    background-color: #0000005e;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header__logo {
    width: 250px;
}

.nav-box {
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 25px;
    align-items: center;
    min-height: 75px;
}

.nav-box__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-box__item {
    display: flex;
}

.nav-box__link {
    display: block;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 20px;
    text-transform: uppercase;
    text-decoration: none;
}