{% extends "base.html.twig" %}
{% block title %}Сделать заказ{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/styles/thanks-page.css">
{% endblock %}
{% block body %}
<main class="main">
    <div class="banner">
        <h1 class="banner__title">Спасибо за заказ!</h1>
    </div>
</main>
{% endblock %}
